*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item:hover{

   color: #ffffff;
    transform: translateY(-5px);
    text-shadow: 0 0 15px rgba(0,255,136,.7); 


}

/* home shop section start */
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.hso-text-block{
    display: block;
    text-align: center;
}
.hso-small-text{
    font-size: 30px;
    margin-bottom: 4px;
    color: green;
    display: block;
}
.hso-big-text{
    font-size: 50px;
    margin-bottom: 8px;
    color: rgb(233, 226, 226);
    display: block;
}


.home-shop-offers-warpper{
    background-color: rgb(66, 55, 40);
}
/* home shop section end */

.animated-btn{
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    font-weight: 600;
    border-radius: 50px;
    padding: 12px 28px;
}

/* Shine Effect */
.animated-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: rgba(255,255,255,.4);
    transform: skewX(-25deg);
    transition: .6s;
}

.animated-btn:hover::before{
    left: 150%;
}

/* Hover */
.animated-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(25,135,84,.45);
    background: #157347;
    border-color: #157347;
}

 /* offer card icon start */
body{
    background:#5b5b5b;
}

.offer-card{
    background:#000;
    color:white;
    border-radius:10px;
    padding:20px;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    transition:0.3s;
}

.offer-card:hover{
    transform:translateY(-5px);
    border: 4px solid gold;
}

.offer-card i{
    color:#9acd32;
    font-size:30px;
}

.offer-card span{
    font-weight:600;
}

.heading-small{
    color:#9acd32;
    font-weight:bold;
    margin-bottom:0;
}
 /* offer card icon end */

/* support section start */
.Support-sec-block{
    text-align: center;
    margin-top: 50px;
    gap: 20px;
    color: white;
    background: url(./assets/aboutpage.jpg);
}
.Support-sec-block h2{
    font-size: 20px;
    line-height: 1.4;
}
/* support sec and */


/* supprot card icon start */
.support-sec-card a{
    position: relative;
    overflow: hidden;

    background: #000;
    color: white;
    border-radius: 10px;
    padding: 20px;
    height: 80px;
    width: 100px;
    display: flex;
    gap: 2px;
    transition: .3s;
    border: 2px solid gold;
    text-decoration: none;
    z-index: 1;
}

/* Before Effect */
.support-sec-card a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(229, 230, 238);
    transition: .4s;
    z-index: -1;
}

/* Hover */
.support-sec-card a:hover::before{
    left: 0;
}

.support-sec-card a:hover{
    color: #000;
    transform: translateY(-4px);
    box-shadow: 0 0 8px white;
}

.support-sec-card i{
    color: #3c5566;
    font-size: 30px;
    transition: .3s;
}

.support-sec-card a:hover i{
    color: #000;
}

.support-sec-card span{
    font-weight: 600;
}
.input{
    margin-top: 150px;
    
}
.input input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
}
/* supprot card icon end */

body{
    background:#553a3a;
}

.press-card{
    background:#1b1b1b;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
    height:100%;
}

.press-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(255,255,255,.15);
}

.press-card a{
    text-decoration:none;
    color:#fff;
    display:block;
    padding:15px;
}

.press-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

.press-card p{
    font-size:17px;
    font-weight:600;
    margin:18px 0 12px;
    line-height:1.5;
}

.press-card span{
    color:#bdbdbd;
    font-size:14px;
}

.press-card hr{
    border-color:#444;
    margin:18px 0;
}

.press-card i{
    width:45px;
    height:45px;
    border:2px solid #fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    transition:.3s;
}

.press-card:hover i{
    background:#fff;
    color:#000;
}
/* press card section  end */

/* app section start */

.app-section{
    background:#14c93a;
    min-height:420px;
    display:flex;
    align-items:center;
    overflow:hidden;
}

.app-image img{
    width:100%;
    max-width:600px;
}

.app-content{
    color:#222;
}

.app-content h2{
    font-size:40px;
    font-weight:700;
    margin-bottom:15px;
}

.app-content p{
    font-size:18px;
    margin-bottom:10px;
}

.store-btns{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.store-btns img{
    width:180px;
    transition:.3s;
}

.store-btns img:hover{
    transform:scale(1.05);
}

@media(max-width:992px){

.app-section{
    text-align:center;
    padding:40px 20px;
}

.app-image{
    margin-bottom:30px;
}

.store-btns{
    justify-content:center;
}

.app-content h2{
    font-size:38px;
}

.app-content p{
    font-size:18px;
}

}
/* app section end  */

/* footer section start */

body{
    margin:0;

    font-family:Arial, Helvetica, sans-serif;
}

.footer{
    background:#232323;
    color:#fff;
    padding:70px 0 30px;
}

.footer h4{
    font-size:19px;
    font-weight:700;
    margin-bottom:20px;
}

.footer ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer ul li{
    margin-bottom:14px;
}

.footer ul li a{
    text-decoration:none;
    color:#cfcfcf;
    font-size:12px;
    transition:.3s;
}

.footer ul li a:hover{
    color:#28d84f;
    padding-left:6px;
}

.footer hr{
    border-color:#555;
    margin:70px 0 40px;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    width:45px;
    height:45px;
    border:1px solid #666;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    border-radius:6px;
    font-size:22px;
    transition:.3s;
}

.social-icons a:hover{
    background:#18d447;
    border-color:#18d447;
}

.copyright{
    color:#bbb;
    font-size:15px;
}

@media(max-width:992px){

.footer h4{
    margin-top:25px;
}

.footer-bottom{
    text-align:center;
    justify-content:center;
    gap:25px;
}

}
.partner-section{
    background:#232323;
    padding:25px 0;
}

.partner-logo{
    width:150px;
    height:70px;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:3px;
    transition:0.3s;
}

.partner-logo img{
    max-width:90%;
    max-height:90%;
    object-fit:contain;
}

.partner-logo:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(255,255,255,.2);
}